.tasklist {
  & > div {
    height: 30%;
    background-color: rgb(65, 65, 207);
    position: relative;
    border-radius: 0 10px 0 0;
    margin-bottom: 20px;

    div {
      padding: 20px;
      color: white;
      position: absolute;
      bottom: 0;
    }

    button {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 20px;
    }
  }
}