.button-type-2 {
  padding: 15px;
  font-size: 16px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    background-color: rgba(30, 144, 255, 0.1);
  }

  span {
    &:first-child {
      color: rgb(30, 144, 255);
      font-variation-settings: 'wght' 500;
    }
  
    &:nth-child(2) {
      margin-left: 10px;
      font-size: 20px;
    }
  }

}